.card_food_container {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* width: 300px; */
  width: 35rem; /* deviation */
  height: 15rem; /* deviation */
  transition: transform 0.2s;
  display: flex;  /* deviation */
}

.card:hover {
  transform: scale(1.05);
}

.card-image img {
  width: 100%;
  max-width: 15rem; /* deviation */
  /* height: auto; */
  height: 100%; /* deviation */
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h2 {
  margin: 0 0 10px;
  font-size: 24px;
  color: #333;
}

.card-content p {
  margin: 0 0 20px;
  color: #777;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  color: #e74c3c;
  font-weight: bold;
}

.order-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.order-button:hover {
  background-color: #c0392b;
}
