.block {
  display: block;
}

.no-bullets {
  list-style-type: none;
}

.top-row {
  padding: 1em 5em 1em 2em;
}

.footer-top {
  gap: 2.5em
}

.footer-socials {
  gap: 2.5em
}

.border-red {
  border: red solid 3px;
}

.border-blue {
  border: blue solid 3px;
}

.border-green {
  border: green solid 3px;
}